<% $rolodex.contacts.each do |contact| %>
	<article class="contact-details">
		<%= contact.first_name %> <%= contact.last_name %> (<a href="<%= contact.email %>" title="<%= contact.first_name %> <%= contact.last_name %>'s email"><%= contact.email %></a>)
		<br><br>
		Notes<br>
		<%= contact.note %>
	</article>
<% end %>